.tokamachi_breadcrumb {
  font-family: "メイリオ",Meiryo,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  margin: 0;
  padding: 2px 0 0;
  color: #000000;
  width: 100%;
  background-color: #dfecf4;
  text-align: left;
  font-size: 12px;
}
.tokamachi_breadcrumb ul {
  margin: 0 auto;
  padding: 0 5px;
  width: 940px;
}
.tokamachi_breadcrumb li {
  display: inline;
}
