.imageButton {
  text-align: center;
  line-height: 0;
  opacity: 1;
  transition: 0.3s ease;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  a {
    display: inline-block;
  }
}

.view-detail-button {
  text-align: right;
  a {
    display: inline-block;
  }
}
