#pagetop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background: url('../images/pagetop.png') center / contain no-repeat;
  z-index: 20;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}
