#how_to_use {
  position: relative;
  margin-bottom: 98px;
  .imageHeadline {
    text-align: center;
    margin-bottom: 15px;
  }
  .imageButton {
    margin: 28px auto;
  }
}

#how_to_use_tab_field {
  .tabs {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    li {
      line-height: 0;
    }
  }
}

#how_to_use_contents_field {
  border: 10px solid colors(theme, green);
  border-radius: 0 0 5px 5px;
  height: 455px;
  margin-bottom: 15px;
}

#use01 {
  padding: 55px 65px;
  h3 {
    color: #72be6e;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  ol {
    width: 700px;
    margin: 35px auto 0;
    li {
      font-size: 18px;
      margin-bottom: 15px;
      line-height: 1.8;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      span {
        width: calc(100% - 70px);
        display: inline-block;
        margin-left: auto;
      }
      &:nth-child(1) {
        &::before {
          content: '';
          display: block;
          width: 42px;
          height: 42px;
          background: url('../images/number01.png') center / contain no-repeat;
        }
      }
      &:nth-child(2) {
        &::before {
          content: '';
          display: block;
          width: 42px;
          height: 42px;
          background: url('../images/number02.png') center / contain no-repeat;
        }
      }
    }
  }
  .attention {
    width: 700px;
    margin: 10px auto 45px;
    font-size: 18px;
  }
  .text-link-green {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    a {
      text-decoration: underline;
      color: #089900;
    }
  }
}

#use02 {
  text-align: center;
  img {
    max-width: 100%;
    width: auto;
  }
}

#use03 {
  padding: 48px 0 30px;
  width: 726px;
  margin: auto;
  .fee {
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid;
    margin-bottom: 12px;
    img {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
  .text-link-green {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    a {
      text-decoration: underline;
      color: #089900;
    }
  }
  .fee-table {
    border-collapse: separate;
    border-spacing: 10px 12px;
    margin-bottom: 24px;
    th, td {
      font-size: 18px;
      vertical-align: top;
    }
    th {
      &::before {
        content: '■ ';
        font-size: 120%;
      }
    }
    td {
      &::before {
        content: ' ： ';
        font-size: 120%;
      }
    }
  }
}

#use04 {
  padding: 30px 32px;
  .flow {
    margin-bottom: 20px;
    li {
      font-size: 18px;
      margin-bottom: 12px;
      line-height: 1.6;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      .flow-li {
        display: inline-block;
        margin-left: 10px;
      }

      &::before {
        content: '';
        display: block;
        width: 28px;
        height: 28px;
      }

      &:nth-child(1) {
        &::before {
          background: url('../images/number01.png') center / contain no-repeat;
        }
      }
      &:nth-child(2) {
        &::before {
          background: url('../images/number02.png') center / contain no-repeat;
        }
      }
      &:nth-child(3) {
        &::before {
          background: url('../images/number03.png') center / contain no-repeat;
        }
      }
      &:nth-child(4) {
        &::before {
          background: url('../images/number04.png') center / contain no-repeat;
        }
      }
      &:nth-child(5) {
        &::before {
          background: url('../images/number05.png') center / contain no-repeat;
        }
      }
      .u-text-small {
        display: block;
      }
    }
  }
  .text-link-green {
    font-weight: bold;
    font-size: 20px;
    a {
      text-decoration: underline;
      color: #089900;
    }
  }
  .details {
    font-size: 13px;
  }
}
